.DS_Store
*.iml
/my-code/
/pdf-files/
/ecommerce-project/01-starter-files/__MACOSX
/ecommerce-project/02-backend/.idea
/ecommerce-project/02-backend/spring-boot-ecommerce/.idea
/ecommerce-project/02-backend/spring-boot-ecommerce/target
/ecommerce-project/02-backend/spring-boot-ecommerce/.mvn
/ecommerce-project/03-frontend/.vs
/ecommerce-project/02-backend/spring-boot-ecommerce/src/main/resources/application-secret.properties
/ecommerce-project/03-frontend/angular-ecommerce/ssl-localhost/localhost.key
/ecommerce-project/03-frontend/angular-ecommerce/ssl-localhost/localhost.crt
